<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        {{> head}}
    </head>
    {{> navbar}}
    <body id="top">
        {{{body}}}
         {{> footer}}
    </body>

    {{> scripts}}
</html>