<section class="dashboard">
    <img src="../images/events/eventbg.jpeg" class="bg" alt="">

    <div id="cardContainers">
        
    </div>
    <!-- dashboard end -->
</section>

<script src="./js/events.js"></script>