<div class="container-contact100">
    {{!-- {{> navbar }} --}}
        <div class="wrap-contact100">
            <form class="contact100-form" action="request-invite" method="POST">
                <span class="contact100-form-title">
                    REQUEST INVITE
                </span>

                <label class="label-input100" for="first-name">Your Name *</label>
                <div class="wrap-input100 rs1 validate-input">
                    <input id="first-name" class="input100" type="text" name="firstName" placeholder="    First name" required>
                    <span class="focus-input100"></span>
                </div>
                <div class="wrap-input100 rs1 validate-input">
                    <input id="last-name" class="input100" type="text" name="lastName" placeholder="    Last name" required>
                    <span class="focus-input100"></span>
                </div>

                <label class="label-input100" for="email">Email Address *</label>
                <div class="wrap-input100 validate-input">
                    <input id="email" class="input100" type="text" name="email" placeholder="    Eg. example@email.com" required>
                    <span class="focus-input100"></span>
                </div>

                <label class="label-input100" for="phone">Phone Number</label>
                <div class="wrap-input100">
                    <input id="phone" class="input100" type="text" name="phoneNumber" placeholder="    Eg. +1 800 000000" required>
                    <span class="focus-input100"></span>
                </div>

                <label class="label-input100" for="messageOne">How did you hear about us? *</label>
                <div class="wrap-input100 validate-input">
                    <textarea id="messageOne" class="input100" name="message" placeholder="Please enter your comments..." required></textarea>
                    <span class="focus-input100"></span>
                </div>
                
                <label class="label-input100" for="messageTwo">Why would you like to join? *</label>
                <div class="wrap-input100 validate-input">
                    <textarea id="messageTwo" class="input100" name="why" placeholder="Please enter your comments..." required></textarea>
                    <span class="focus-input100"></span>
                </div>

                <label class="label-input100" for="linkedin">LinkedIn</label>
                <div class="wrap-input100">
                    <input id="linkedin" class="input100" type="text" name="linkedin" placeholder="    LinkedIn">
                    <span class="focus-input100"></span>
                </div>

                <div class="container-contact100-form-btn">
                    <button id="btnRequestInvite" type="submit" class="contact100-form-btn">
                        <span>
                            SUBMIT
                            <i class="zmdi zmdi-arrow-right m-l-8"></i>
                        </span>
                    </button>
                </div>
            </div>
        </div>
    </section>